* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);
    font-family: Arial, sans-serif;
    overflow: hidden;
    color: aliceblue;
}
body{
    padding: 25px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Snow globe specific styles */
.snow-globe-container, .snow-globe-container> * {    
    width: 500px;
    height: 500px;

    display: block;
}

.simple-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

body > p{
    padding: 20px 0;
}

#instructions{
    color: #e2e2ffde;
}

@media (max-width: 768px){
    .snow-globe-container, .snow-globe-container > *{
        width: 90vw;
        height: 90vw;
    }
}